html * {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
}

body {
	margin: 0px;
}

#container {
	margin: auto;
	width: 100vw;
	height: 100vh;
	max-width: 500px;
	border-left: 1px solid rgb(224, 224, 224);
	border-right: 1px solid rgb(224, 224, 224);
}

#header {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	font-family: sans-serif;
	letter-spacing: 0.2rem;
	border-bottom: 1px solid rgb(224, 224, 224);
}

#show-result {
	float: right;
	cursor: pointer;
}

#board {
	margin: auto;
	vertical-align: middle;
	border-spacing: 5px;
	table-layout: fixed;
	margin-top: 50px;
}

#board td {
	width: 55px;
	height: 55px;
	border: 1px solid #B8B8B8;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: bold;
}

.green {
	background-color: rgb(106, 170, 100);
	color: white;
}

.golden {
	background-color: rgb(201, 180, 88);
	color: white;
}

.black {
	background-color: rgb(32, 32, 32);
	color: white;
}

.gray {
	background-color: rgb(224, 224, 224);
	color: black;
}

#result {
	display: none;
	text-align: center;
	vertical-align: middle;
  justify-content: center;
  align-content: center;
	position: fixed;
	z-index: 100;
	background-color: white;
	border: 1px solid rgb(224, 224, 224);
	width: 80%;
	max-width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	padding-bottom: 20px;
	box-shadow: 20px 20px 15px grey;
}
#hide-result {
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 1px solid rgb(224, 224, 224);
}

#popup {
	display: none;
	position: absolute; /* Stay in place */
	z-index: 200;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
	background-color: rgb(96,96,96);
	color: white;
	padding: 10px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 20px 20px 15px grey;
}

#share {
	background-color: rgb(106, 170, 100);
	width: 120px;
	margin: auto;
	height: 40px;
	line-height: 40px;
	color: white;
	font-weight: 700;
	padding: 10px;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
}

pre {
	font-size: 1.5em;
	font-family: monospace;
	letter-spacing: 0.05em;
}

#letter-tray {
  width: 100%;
	max-width: 500px;
	position: fixed;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%, -0%);
	transform-origin: 0 50%;
}

#letter-tray table {
	width: 98%;
	margin: auto;
	border-spacing: 5px;
	padding: 0px;
}

#letter-tray td {
	margin: 2px;
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
	min-width: 20px;
	text-align: center;
}
.is-blurred {
	filter: blur(2px);
	-webkit-filter: blur(5px);
}
